.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.block {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.block h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}
.block h3 {

  margin-bottom: 20px;
  font-size: 0.7rem;
  text-align: left;
  color: #333;
}

.block label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.block input,
.block select {
  width: 50%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}


.container {
  display: flex;
  justify-content: flex;
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
  flex: 1;
  margin: 10px;
}

.heading button {
  margin: 25px;
}

.header {
  text-align: left;
  width: 100%;
}
.btn{
  display: flex;
  background-color: rgb(66, 179, 66);
  color: white;
  width: 60px;
  height: 30px;
  align-items: center;
  justify-content: center;
}